
table {
  width: 100%;
  border-collapse: collapse; 
}


th, td {
  padding: 12px; 
  text-align: left; 
}


.acciones {
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  text-align: center; 
}


.boton-acccion {
  padding: 8px 12px; 
  border-radius: 5px; 
  font-size: 14px; 
  margin: 0 4px; 
}


.bg-gold {
  background-color: #FFD700; 
}

.bg-black {
  background-color: #000000; 
}

.bg-red-500 {
  background-color: #F44336; 
}

.text-black {
  color: #000000; 
}

.text-gold {
  color: #FFD700; 
}


.hover\:bg-yellow-600:hover {
  background-color: #FFA500; }

.hover\:bg-gray-800:hover {
  background-color: #333333; 
}

.hover\:bg-red-600:hover {
  background-color: #D32F2F; 
}
