
.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* indexProd.css o styles.css */
nav .text-gold {
  color: #FFD700; /* Color dorado */
}

nav .hover\:text-gold:hover {
  color: #FFD700;
}

